body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}
input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 25px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height:25px;
	font-family: 'Oswald', sans-serif;
}
header {
     display: inline-block;
 	 padding: 5px 0;
     margin-left: 90%;
     font: 5px/5px 'Oswald', sans-serif;
}

 #wrapper {
 	margin: auto;
 	padding: 0% 20%
 }

header1 {
     font: 60px/60px 'Oswald', sans-serif;
     background-color: #29c5e6;
  	 padding: 0%;
}