<?xml version="1.0" encoding="UTF-8"?>

<Resource auth="Container"
          driverClass="net.sourceforge.jtds.jdbc.Driver"
          type="com.jolbox.bonecp.BoneCPDataSource"
          idleMaxAge="240"
          idleConnectionTestPeriod="60"
          partitionCount="3"
          acquireIncrement="1"
          maxConnectionsPerPartition="10"
          minConnectionsPerPartition="3"
          statementsCacheSize="50"
          releaseHelperThreads="4"

          name="jdbc/devices"
          username="root"
          password="root"
          factory="org.apache.naming.factory.BeanFactory"
          jdbcUrl="jdbc:mysql://localhost:3306/devices?useSSL=false"
/>
